# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="Preview">
[% IF !Data.PreviewResult %]
    <p>[% Translate('This statistic does not provide preview data.') | html %]</p>
[% ELSE %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
var RawData = [% JSON(Data.PreviewResult) %],
    ChartType = "Line";

Core.UI.AdvancedChart.Init(ChartType, RawData, 'svg.PreviewCanvas', { HideLegend: true });
//]]></script>
[% END %]
    <svg class="PreviewCanvas" id="PreviewCanvas"></svg>
    <div class="PreviewTable" style="display: none;">

        [% SET Title = Data.PreviewResult.shift %]
        <table class="DataTable">
            <thead>
                <tr>
                    [% SET HeaderRow = Data.PreviewResult.shift %]
                    [% FOREACH HeaderCell IN HeaderRow %]
                    <th>[% HeaderCell | html %]</th>
                    [% END %]
                </tr>
            </thead>
            <tbody>
                [% FOREACH DataRow IN Data.PreviewResult %]
                <tr>
                        [% FOREACH DataCell IN DataRow %]<td>[% DataCell | html %]</td>[% END %]
                </tr>
                [% END %]
            </tbody>
        </table>

    </div>
[% END %]
</div>
