# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div id="RestrictionsContainer" class="Hidden">

[% RenderBlockStart("Attribute") %]
    <fieldset class="TableLike Element Element[% Data.Element | html %]" data-element="[% Data.Element | html %]">
[% RenderBlockStart("MultiSelectField") %]
        <label>
            <input type="hidden" name="Select[% Data.Element %]" value="1" />
            [% Translate(Data.Name) | html %]:
        </label>
        <div class="Field">
            <div>
                [% Data.SelectField %]
            </div>
            <div>
                <input type="checkbox" name="Fixed[% Data.Element | html %]" id="Fixed[% Data.Element | html %]" value="1" [% Data.Fixed %] />
                <label for="Fixed[% Data.Element | html %]">[% Translate("Fixed") | html %]</label>
                <a class="DeleteButton" href="#"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Delete") | html %]</span></a>
            </div>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("MultiSelectField") %]
[% RenderBlockStart("SelectField") %]
        <label>
            <input type="hidden" name="Select[% Data.Element %]" value="1" />
            [% Translate(Data.Name) | html %]:
        </label>
        <div class="Field">
            <div>
                [% Data.SelectField %]
            </div>
            <p class="FieldExplanation">[% Translate("Please select only one element or turn off the button 'Fixed'.") | html %]</p>
            <div>
                <input type="checkbox" name="Fixed[% Data.Element | html %]" id="Fixed[% Data.Element | html %]" value="1" [% Data.Fixed %] />
                <label for="Fixed[% Data.Element | html %]">[% Translate("Fixed") | html %]</label>
                <a class="DeleteButton" href="#"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Delete") | html %]</span></a>
            </div>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("SelectField") %]
[% RenderBlockStart("InputField") %]
        <label for="[% Data.Element | html %]">
            <input type="hidden" name="Select[% Data.Element %]" value="1" />
            [% Translate(Data.Name) | html %]:
        </label>
        <div class="Field">
            <div>
                <input type="text" name="[% Data.Element | html %]" id="[% Data.Element| html %]" value="[% Data.SelectedValue | html %]" class="W50pc [% Data.Invalid | html %]"/>
                <div id="[% Data.Element| html %]ServerError" class="TooltipErrorMessage">
                    <p>[% Data.InvalidTooltip | html %]</p>
                </div>
            </div>
            <div>
                <input type="checkbox" name="Fixed[% Data.Element | html %]" id="Fixed[% Data.Element | html %]" value="1" [% Data.Fixed %] />
                <label for="Fixed[% Data.Element | html %]">[% Translate("Fixed") | html %]</label>
                <a class="DeleteButton" href="#"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Delete") | html %]</span></a>
            </div>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("InputField") %]
[% RenderBlockStart("TimeExtended") %]
        <label>
            <input type="hidden" name="Select[% Data.Element %]" value="1" />
            [% Translate(Data.Name) | html %]:
        </label>
        <div class="Field">
            <fieldset class="TableLike FixedLabel">
                <label>
                    <input type="radio" name="[% Data.Element | html %]TimeSelect" value="Absolut" [% Data.CheckedAbsolut | html %]/>
                    [% Translate("Absolute Period") | html %]:
                </label>
                <div class="Field">
                    [% Translate("Between") | html %] [% Data.TimeStart %] [% Translate("and") | html %] [% Data.TimeStop %]
                </div>
                <div class="Clear"></div>

                <label>
                    <input type="radio" name="[% Data.Element | html %]TimeSelect" value="Relativ" [% Data.CheckedRelative | html %]/>
                    [% Translate("Relative Period") | html %]:
                </label>
                <div class="Field">
                    [% Translate("The last") | html %]
                    [% Data.TimeRelativeCount %]
                    [% Data.TimeRelativeUnit %]
                </div>
                <div class="Clear"></div>

                <div class="Field">
                    <label>
                        <input type="checkbox" name="Fixed[% Data.Element %]" value="1" [% Data.Fixed %]/>
                        [% Translate("Fixed") | html %]
                    </label>
                    <a class="DeleteButton" href="#"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Delete") | html %]</span></a>
                </div>
                <div class="Clear"></div>

            </fieldset>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("TimeExtended") %]
[% RenderBlockStart("Time") %]
        <label>
            <input type="hidden" name="Select[% Data.Element %]" value="1" />
            [% Translate(Data.Name) | html %]:
        </label>
        <div class="Field">
            <div>
                [% Translate("Between") | html %]
                [% Data.TimeStart %] [% Translate("and") | html %] [% Data.TimeStop %]
            </div>
            <div>
                <label>
                    <input type="checkbox" name="Fixed[% Data.Element %]" value="1" [% Data.Fixed %]/>
                    [% Translate("Fixed") | html %]
                </label>
                <a class="DeleteButton" href="#"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Delete") | html %]</span></a>
            </div>
        </div>
        <div class="Clear"></div>
[% RenderBlockEnd("Time") %]
    </fieldset>
[% IF Data.Checked %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">
    Core.Agent.Statistics.ElementAdd('Restrictions', '[% Data.Element | html %]');
</script>
[% END %]
[% END %]
[% RenderBlockEnd("Attribute") %]

</div>
