# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% SET ChartTypes = {
'D3::MultiBarChart'    => 'Bar',
'D3::MultiLineChart'   => 'Line',
'D3::StackedAreaChart' => 'StackedArea',
} %]
<table border="0" width="100%" cellspacing="0" cellpadding="3">
    <tr>
        <td class="contenthead">
            [% Translate("Print") | html %]: [% Translate(Config("Stats::StatsHook")) | html %] [% Data.StatNumber | html %]
        </td>
    </tr>
    <tr>
        <td class="contentbody">
            <table width="100%" border="0">
                <tr>
                    <td class="contentkey">
                        [% Translate("Title") | html %]: [% Data.Title %]
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <svg class="" id="ChartContent"></svg>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">
console.log([% JSON(Data.RawData) %]);
    Core.UI.AdvancedChart.Init([% ChartTypes.item(Data.Format) | JSON %], [% JSON(Data.RawData) %], 'svg#ChartContent', { HideLegend: true });
</script>
[% END %]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="contentfooter">&nbsp;</td>
    </tr>
</table>
