# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

## nofilter(TidyAll::Plugin::OTRS::TT::Format)

[% SET ChartTypes = {
'D3::MultiBarChart'    => 'Bar',
'D3::MultiLineChart'   => 'Line',
'D3::StackedAreaChart' => 'StackedArea',
} %]

<div class="MainBox AriaRoleMain">
    <h1>
        [% Data.Title | html %] ([% Translate(Config("Stats::StatsHook")) | html %][% Data.StatNumber | html %])
    </h1>

    <div id="svg-container">
        <svg class="" id="ChartContent" style="min-height: 500px"></svg>
    </div>

    <a id="download-svg" class="" download="[% Data.Title | html %].svg">SVG</a>
    <a id="download-png" class="Hidden"  download="[% Data.Title | html %].png">PNG</a>

[% WRAPPER JSOnDocumentComplete %]

<script type="text/javascript">
$('#download-svg').on('click', function() {
    this.href = 'data:image/svg+xml;base64,' + btoa($('#svg-container').html());
    link.download = 'test.svg';
});
    Core.UI.AdvancedChart.Init([% ChartTypes.item(Data.Format) | JSON %], [% JSON(Data.RawData) %], 'svg#ChartContent');

    window.setTimeout(function(){
        Core.UI.AdvancedChart.ConvertSVGtoPNG($('#svg-container'), function( DataURI ) {
            $('a#download-png').attr('href', DataURI).show();
        });
    }, 1000);

</script>
[% END %]

</div>
