# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox AriaRoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate('Statistics') | html %] &raquo; [% Translate("Add") | html %]</h1>

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("Baselink") %][% Env("LastStatsOverview") %]" class="CallForAction Fullsize Center"><span><i class="fa fa-caret-left"></i>[% Translate("Go to overview") | html %]</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Add New Statistic") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="BigButtons">
                    <li>
                        <a href="">
                            <i class="fa fa-table"></i>
                            <strong>Dynamic Matrix</strong>
                            <span>Explanation Text which goes over 2 lines</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-list"></i>
                            <strong>Dynamic List</strong>
                            <span>Explanation Text which goes over 2 lines</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-code"></i>
                            <strong>Static</strong>
                            <span>Explanation Text which goes over 2 lines</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="WidgetSimple" id="GeneralSpecifications" style="display: none;">
            <div class="Header">
                <h2>[% Translate("General Specification") | html %]</h2>
            </div>
            <div class="Content Center"></div>
        </div>
    </div>
</div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
Core.Agent.Statistics.InitAddScreen();
//]]></script>
[% END %]
