# --
# Copyright (C) 2001-2015 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% IF Data.StatConfigurationValid %]

[% IF Data.StatResultData %]
[% IF Data.Format %]

<svg style="height: 350px;" class="GraphWidget[% Data.Name | html %]" id="GraphWidget[% Data.Name | html %]"></svg>

[% SET ChartTypes = {
'D3::MultiBarChart'    => 'Bar',
'D3::MultiLineChart'   => 'Line',
'D3::StackedAreaChart' => 'StackedArea',
} %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
/*global nv, d3 */

// add translations
Core.Config.Set('Grouped', [% Translate("Grouped") | JSON %]);
Core.Config.Set('Stacked', [% Translate("Stacked") | JSON %]);
Core.Config.Set('Expanded', [% Translate("Expanded") | JSON %]);
Core.Config.Set('Stream', [% Translate("Stream") | JSON %]);

// get settings for widget from preferences
Core.Config.Set('Pref-GraphWidget[% Data.Name | html %]', [% Data.Preferences %]);

(function(){
    var Timeout = 500;
    // check if the container is already expanded, otherwise the graph
    // would have the wrong size after the widget settings have been saved
    // and the content is being reloaded using ajax.
    if ($('#GraphWidget[% Data.Name | html %]').parent().is(':visible')) {
        Timeout = 0;
    }

    window.setTimeout(function () {
        Core.UI.AdvancedChart.Init([% ChartTypes.item(Data.Format) | JSON %], [% JSON(Data.StatResultData) %], 'svg.GraphWidget[% Data.Name | html %]');
    }, Timeout);
}());
//]]></script>
[% END %]

[% SET AvailableFormats = Data.Stat.Format %]
[% IF Data.AgentStatisticsFrontendPermission && AvailableFormats.grep('^(CSV|Print|Excel)$').size %]
<div class="WidgetAction" id="GraphWidgetLink[% Data.Name | html %]">
    <a href="#" class="TriggerTooltip" title="[% Translate("Download") | html %]">
        <i class="fa fa-download"></i>
    </a>
    <span class="Hidden WidgetTooltip">
[% IF AvailableFormats.grep('^CSV$').size %]
        <a href="[% Env("Baselink") %]Action=AgentStats;Subaction=Run;Cached=1;StatID=[% Data.StatID | uri %];Format=CSV;Name=[% Data.Name | uri %]">
            [% Translate("Download as CSV file") | html %]
        </a>
[% END %]
[% IF AvailableFormats.grep('^Excel$').size %]
        <a href="[% Env("Baselink") %]Action=AgentStats;Subaction=Run;Cached=1;StatID=[% Data.StatID | uri %];Format=Excel;Name=[% Data.Name | uri %]">
            [% Translate("Download as Excel file") | html %]
        </a>
[% END %]
[% IF AvailableFormats.grep('^Print$').size %]
        <a href="[% Env("Baselink") %]Action=AgentStats;Subaction=Run;Cached=1;StatID=[% Data.StatID | uri %];Format=Print;Name=[% Data.Name | uri %]">
            [% Translate("Download as PDF file") | html %]
        </a>
[% END %]
    </span>
</div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
$('#GraphWidgetLink[% Data.Name | html %]').prependTo( $('#GraphWidget[% Data.Name | html %]').closest('.WidgetSimple').find('.ActionMenu') );
$('#GraphWidgetLink[% Data.Name | html %]').find('a.TriggerTooltip').bind('click', function(){
    $(this).next('span').toggleClass('Hidden');
    return false;
});
$('#GraphWidgetLink[% Data.Name | html %]').find('.WidgetTooltip').find('a').bind('click', function(){
    $(this).parent().addClass('Hidden');
});
$('#GraphWidgetLink[% Data.Name | html %]').closest('.Header').bind('mouseleave.WidgetTooltip', function(){
    $('#GraphWidgetLink[% Data.Name | html %]').find('span').addClass('Hidden');
});
//]]></script>
[% END %]

[% END %]

[% ELSE %]

<div class="MessageBox Warning">
    <p>[% Translate('Please select a valid graph output format in the configuration of this widget.') | html %]</p>
</div>

[% END %]

[% ELSE %]

<i class="fa fa-signal" style="display: block; margin-bottom: 3px; font-size: 20px; text-align: center; color: #E77A34;"></i>
<p class="Center FieldExplanation">[% Translate("The content of this statistic is being prepared for you, please be patient.") | html %]</p>

[% END %]

[% ELSE %]

<div class="MessageBox Warning" id="StatsConigurationError[% Data.NamePref | html %]">
    <p>[% Translate('This statistic contains configuration errors and can currently not be used.') | html %]</p>
</div>

[% END %]
